# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and large weights
data/
*.pt
*.pth
wandb/

# Environments
.venv/
env/
venv/

# Operating System files
.DS_Store

#app
app2.py